{% extends 'layout/manage.html' %}
{% load static %}
{% block title %}

{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'plugin/editor-md/css/editormd.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugin/bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugin/bootstrap-select/css/bootstrap-select.min.css' %}">

    <style>
        .issues-list .number {
            width: 100px;
            text-align: right;
        }

        .issues-list .number a {
            font-weight: 500;
            padding: 0 10px;
        }

        .issues-list .issue .tags {
            padding: 10px 0;
        }

        .issues-list .issue .tags span {
            margin-right: 20px;
            display: inline-block;
            font-size: 12px;
        }

        .issues-list .issue .tags .type {
            color: white;
            padding: 1px 5px;
            border-radius: 5px;
        }

        .pd {
            padding: 0 !important;
        }

    </style>
{% endblock %}



{% block content %}
    <div class="container-fluid clearfix" style="padding: 20px 0;">
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-search" aria-hidden="true"></i>筛选
                </div>
                <div class="panel-body">
                    筛选选项
                </div>
            </div>

        </div>
        <div class="col-sm-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-quora" aria-hidden="true"></i>问题
                </div>
                <div class="panel-body">
                    <a class="btn btn-success btn-sm" data-toggle="modal" data-target="#addModal">新建问题</a>
                    <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#inviteModal">邀请成员</a>
                </div>
                <table class="table">
                    <tbody class="issues-list">
                    <tr>
                        <td class="number">
                            <i class="fa fa-circle text-danger"></i>
                            <a target="_blank" href="">#010</a>
                        </td>
                        <td class="issue">
                            <div>
                                <a target="_blank" href="">去死</a>
                            </div>
                            <div class="tags">
                                <span class="type" style="background-color: #56b8eb">
                                    功能
                                </span>
                                <span>
                                    <i class="fa fa-refresh" aria-hidden="true"></i>已解决
                                </span>
                                <span>
                                    <i class="fa fa-user-o" aria-hidden="true"></i>wupeiqi
                                </span>
                                <span>
                                    <i class="fa fa-clock-o" aria-hidden="true"></i>2020年3月30日 11：26
                                </span>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <ul class="pagination" style="margin-top: 0;">
                    {{ pager.page_html|safe }}
                </ul>
            </div>
        </div>
    </div>

    <!-- Large modal 新建模态对话框-->
    <div id="addModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">新建问题</h4>
                </div>
                <div class="modal-body" style="padding-right: 40px;">
                    <form id="addForm" class="form-horizontal">
                        {% csrf_token %}
                        <!--字段较多，并且格式不一致，最好不用for循环，手动生成-->
                        {% for field in form %}
                            {% if field == form.issues_type or field == form.subject or field == form.module %}
                                <div class="form-group">
                                    <label for="{{ field.id_for_label }}"
                                           class="col-md-2 control-label">{{ field.label }}</label>
                                    <div class="col-md-10">
                                        <div>
                                            <div>
                                                {{ field }}
                                            </div>
                                            <div class="error-msg"></div>
                                        </div>
                                        <div class="error-msg"></div>
                                    </div>
                                </div>
                            {% elif field == form.desc %}
                                <div class="form-group">
                                    <label for="{{ field.id_for_label }}"
                                           class="col-md-2 control-label">{{ field.label }}</label>
                                    <div class="col-md-10">
                                        <div>
                                            <div id="editor">
                                                {{ field }}
                                            </div>
                                            <div class="error-msg"></div>
                                        </div>
                                        <div class="error-msg"></div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}

                        <div class="form-group clearfix">
                            {% for item in form %}
                                {% if item != form.issues_type and item != form.subject and item != form.module and item != form.desc %}
                                    {% if item != form.start_date and item != form.end_date %}
                                        <div class="col-md-6 pd-0">
                                            <label for="{{ item.id_for_label }}"
                                                   class="col-md-4 control-label">{{ item.label }}</label>
                                            <div class="col-md-8 clearfix">
                                                {{ item }}
                                                <div class="error-msg"></div>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="col-md-6 pd-0">
                                            <label for="{{ item.id_for_label }}"
                                                   class="col-md-4 control-label">{{ item.label }}</label>
                                            <div class="col-md-8 clearfix">
                                                <div class="input-group">
                                                <span class="input-group-addon" id="sizing-addon2">
                                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                                </span>
                                                    {{ item }}
                                                </div>
                                                <span class="error-msg"></span>
                                            </div>
                                        </div>
                                    {% endif %}

                                {% endif %}
                            {% endfor %}
                        </div>

                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">取 消</button>
                    <button id="btnAddSubmit" type="button" class="btn btn-primary">添 加</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}




{% block js %}
    <script src="{% static 'plugin/editor-md/editormd.min.js' %}"></script>
    <script src="{% static 'plugin/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'plugin/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js' %}"></script>
    <script src="{% static 'plugin/bootstrap-select/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static 'plugin/bootstrap-select/js/i18n/defaults-zh_CN.js' %}"></script>

    <script>
        var WIKI_UPLOAD_URL = "{% url 'wiki_upload' project_id=request.tracer.project.id %}"
        var POST_ISSUES = "{% url 'issues' project_id=request.tracer.project.id %}"


        $(function () {
            bindBootStrapShownEvent();
            initDatePicker();
            bindAddSubmit();
        });

        function bindBootStrapShownEvent() {
            $('#addModal').on('shown.bs.modal', function (event) {
                //对话框弹出时，内容触发
                initEditMd();
            })
        }

        /*
         添加对话框：初始化时间选择
         */
        function initDatePicker() {
            $('#id_start_date,#id_end_date').datepicker({
                format: 'yyyy-mm-dd',
                startDate: '0',
                language: 'zh-CN',
                autoclose: true
            })
        }

        /*
        初始化markdown编辑器（textarea转换为编辑器）
        */
        function initEditMd() {
            editormd('editor', {
                placeholder: '请输入内容',
                height: 300,
                path: "{% static 'plugin/editor-md/lib/' %}",   /*内部资源依赖的路径*/
                imageUpload: true,
                imageFormats: ['jpg', 'jpeg', 'png', 'gif'],
                imageUploadURL: WIKI_UPLOAD_URL,
            })
        }


        function bindAddSubmit() {
            $('#btnAddSubmit').click(function () {
                $.ajax({
                    url: POST_ISSUES,
                    type: 'POST',
                    data: $('#addForm').serialize(),
                    dataType: 'JSON',
                    success: function (res) {
                        if (res.status) {
                            location.href = location.href;
                        } else {
                            //错误信息
                            $.each(res.error, function (k, v) {
                                $('#id_'+k).parent().next('.error-msg').text(v[0]);

                            })

                        }
                    }
                })
            });
        }
    </script>
{% endblock %}